@model Gift_and_Salary_cards.Models.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "зарплатные карты";
}

@section Css {
    @*<link href="~/css/reg.css" rel="stylesheet" asp-append-version="true" />*@
}

<div class="container">
    <div class="row">
        <h3>Пополнение зарплатной карты</h3>
    </div>
</div>




