@{
    ViewData["Title"] = "Контакты «Абрис-М»";
}

<div class="container">
    <h1 class="pt-3">ООО «Абрис-М»</h1>


    <p>Полное наименование   	Общество с ограниченной ответственностью «Абрис-М»</p>
    <p>Краткое наименование	ООО «Абрис-М»</p>
    <p class="mb-5">Юридический адрес       	127427, г. Москва, ул. Академика Королева, д.13, стр.1,  пом.IV, ком.21</p>

    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A33a82730166af12dde52544c010bcaf45a85565685c84e2e9bb76e1b9e8eb63e&amp;width=100%25&amp;height=500&amp;lang=ru_RU&amp;scroll=true"></script>

    @*<p>Телефон	+7 926 942 20 69</p>
        <p>Адрес эл.почты	abrism.ooo@mail.ru</p>*@
    <p class="mt-5">Директор	Анисимов Игорь Игоревич</p>

    <p>Представитель Радюкевич Андрей</p>
    <p>Телефон	+7 962 900 79 65</p>
    <p>Адрес эл.почты	fasgetz@yandex.ru</p>

    <p>ИНН	7717756636</p>
    <p>ОГРН	1137746568332 от 03.07.2013 г.</p>

    <p>Банк обслуживания	ПАО СБЕРБАНК</p>
    <p>Расчетный счет	40702810138000229802</p>
    <p>Корр. счет	30101810400000000225</p>
    <p>БИК	044525225</p>

    <p>OOO ABRISM</p>
    <p>SWIFT	SABRRUMM</p>
    <p>ЕВРО	40702.978.7.38000017479</p>
    <p>SBERBANK</p>

</div>


