@{
    ViewData["Title"] = "Зарплатные карты | Выплаты сотрудникам";
}

@section Css {
    <link href="~/css/maincontent.css" rel="stylesheet" asp-append-version="true" />
}

<section class="presentable-block">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <h1 class="presentable-block__header">virtcards - лучшее решение для пополнения зарплатных карт и банковских счетов сотрудников</h1>
                <div class="presentable-block__button">
                    <div class="row justify-content-center">
                        <a class="btn" asp-controller="Card" asp-action="SalaryCard">Начать</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="aboutservice-block">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3>Что такое virtcards</h3>
            </div>
            <div class="about-service mt-3 row">
                <div class="col-12 col-lg-6 align-items-center d-flex">
                    <div>
                        <p class="p-3">
                            <a class="about-service__address" asp-controller="Home" asp-action="Index">virtcards</a> –
                            это сервис, который представляет из себя зарплатный проект по предоставлению услуг по начислению
                            денежных средств на банковские счета или зарплатные карты сотрудников, которая осуществляется с помощью оплаты через систему электронных онлайн платежей
                        </p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 align-items-center d-flex about-service__img-block">
                    <img class="w-100" src="img/zarplata.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="howuse-block" id="comission-block">
    <div class="container">
        <div class="row mt-3">
            <h3 class="text-center mt-3">Прайс-лист</h3>
            <h5 class="text-center mt-3">Проверьте как формируются цены на выплаты сотрудникам с учетом комиссии в размере <b>12%</b> с помощью калькулятора нашего онлайн сервиса, которая высчитает проценты к выплате</h5>
            <div id="calculator" class="container calculator mt-3">
                <div class="row">
                    <div class="col-12 col-lg-7">
                        <h5 class="form-label text-center">Необходимо начилить сотруднику</h5>
                        <div>
                            <input step="100" v-model.number="currency" type="range" class="form-range" min="1000" max="60000" name="name" value="5000" />
                            <div class="text-center calculator__payment text-muted">{{currency}} ₽</div>
                        </div>
                    </div>
                    <div class="col-1 border_calc">

                    </div>
                    <div class="col-12 col-lg-4 mt-lg-0 mt-3">
                        <h5 class="form-label text-center">Вы заплатите virtcards</h5>
                        <div class="text-center calculator__payment text-muted">{{currencyProcent}} ₽</div>
                        <div class="text-center mt-1">Комиссия 12% virtcards = <b>{{currencyProcent - currency}}</b> ₽</div>
                    </div>
                    <div class="col-12 d-flex justify-content-center mt-5">
                        <a class="btn btn-success" asp-controller="Card" asp-action="SalaryCard">Перейти к оплате {{currencyProcent}}</a>
                    </div>
                </div>
            </div>
            <h3 class="col-12 text-center mt-5">Основные условия virtcards</h3>
            <div class="container">
                <div class="row mt-3 text-center">
                    <div class="col-12 col-lg-4">
                        <div class="howuse-block__item m-3 p-3">
                            <h5>Низкие комиссии</h5>
                            <div class="mt-3">
                                Комиссионные сборы сервиса <a class="about-service__address" asp-controller="Home" asp-action="Index">virtcards</a> за предоставление услуг по начислению денежных средств составляют всего <b>12%</b> от суммы платежа
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="howuse-block__item m-3 p-3">
                            <h5>Размер выплат</h5>
                            <div class="mt-3">
                                <p>Разовый размер выплат составляет от 1 000 до 60 000 рублей за транзакцию</p>
                                <span class="text-muted">При оплате учитывайте комиссию сервиса в размере <b>12 %</b></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="howuse-block__item m-3 p-3">
                            <h5>Лимиты выплат</h5>
                            <div class="mt-3">
                                <ul class="list-unstyled">
                                    <li>От 100 до 60 000 рублей за транзацию</li>
                                    <li>До 300 000 рублей в сутки</li>
                                    <li>до 600 000 рублей в календарный месяц</li>
                                </ul>
                                <span class="text-muted">Лимиты действуют на один банковский счет/карту</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3 d-flex justify-content-center">
                <div class="comission-img">
                    <img src="~/img/procent.png" alt="Alternate Text" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="howjob-block">
    <div class="container">
        <div class="row">
            <h3 class="col-12 text-center">Как работает virtcards</h3>
            <div class="about-service mt-5 row">
                <div class="col-lg col-12">
                    <div class="item-work">
                        <div class="row">
                            <div class="col-4 col-lg-12 d-flex align-items-center justify-content-center">
                                <div>
                                    <div class="item-work__number d-flex align-items-center justify-content-center">
                                        <span>1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 col-lg-12 text-center">
                                <h5 class="mt-0 mt-lg-3 item-work__title">Регистрация в системе</h5>
                                <p class="p-1">Вы регистрируетесь в <a class="about-service__address" asp-controller="Account" asp-action="Register">системе virtcards</a> и подтверждаете свой аккаунт</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg col-12 mt-3 mt-lg-0">
                    <div class="item-work">
                        <div class="row">
                            <div class="col-4 col-lg-12 d-flex align-items-center justify-content-center">
                                <div>
                                    <div class="item-work__number d-flex align-items-center justify-content-center">
                                        <span>2</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 col-lg-12 text-center">
                                <h5 class="mt-0 mt-lg-3 item-work__title">Оформление</h5>
                                <p class="p-1">
                                    Оформление выплат сотруднику происходит после авторизации на сайте virtcards и
                                    заполнения банковских и персональных данных, на которые будет осуществлена выплата, а также суммы выплат с учетом нашей комиссии <b>12%</b>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg col-12 mt-3 mt-lg-0">
                    <div class="item-work">
                        <div class="row">
                            <div class="col-4 col-lg-12 d-flex align-items-center justify-content-center">
                                <div>
                                    <div class="item-work__number d-flex align-items-center justify-content-center">
                                        <span>3</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 col-lg-12 text-center">
                                <h5 class="mt-0 mt-lg-3 item-work__title">Оплата</h5>
                                <p class="p-1">Оплата производится банковскими картами или удобными для Вас способами услуги по зачислению средств на банковские карты или счета сотрудника</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg col-12 mt-3 mt-lg-0">
                    <div class="item-work">
                        <div class="row">
                            <div class="col-4 col-lg-12 d-flex align-items-center justify-content-center">
                                <div>
                                    <div class="item-work__number d-flex align-items-center justify-content-center">
                                        <span>4</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 col-lg-12 text-center">
                                <h5 class="mt-0 mt-lg-3 item-work__title">Обработка платежа</h5>
                                <p class="p-1">
                                    После оплаты, платеж находится в статусе «в обработке». Статусы платежей и данные для формирования отчетности доступны в личном кабинете
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg col-12 mt-3 mt-lg-0">
                    <div class="item-work">
                        <div class="row">
                            <div class="col-4 col-lg-12 d-flex align-items-center justify-content-center">
                                <div>
                                    <div class="item-work__number d-flex align-items-center justify-content-center">
                                        <span>5</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 col-lg-12 text-center">
                                <h5 class="mt-0 mt-lg-3 item-work__title">Зачисление платежа</h5>
                                <p class="p-1">Получение платежа на банковскую карту сотрудника приходит в течении 1-3 рабочих дней (могут быть задержки)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="benefits-block mt-5 mb-5">
    <div class="container">
        <div class="row">
            <h3 class="benefits-block__header text-center col-12 text-center">Наши преимущества</h3>
            <div class="container mt-3">
                <div class="row">
                    <div class="col-12 col-lg-4 text-center">
                        <div class="benefits-block__item m-5">
                            <div class="d-flex justify-content-center align-items-center">
                                <img class="benefits-block__item__img" src="img/speed.png" alt="item">
                                <h5>Быстрота</h5>
                            </div>
                            <div class="d-flex justify-content-center">
                                <p class="benefits-block__item-text mt-3">Быстрые выплаты гарантированы в течении 1-3 рабочих дней <br />(прим. возможны задержки)</p>
                            </div>
                        </div>
                        <div class="benefits-block__item m-5">
                            <div class="d-flex justify-content-center align-items-center">
                                <img class="benefits-block__item__img" src="img/easy.png" alt="item">
                                <h5>Простота</h5>
                            </div>
                            <div class="d-flex justify-content-center">
                                <p class="benefits-block__item-text mt-3 text-center">Алгоритм использования сервиса virtcards на столько прост, что состоит из пяти шагов!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 benefits-block__img-block">
                        <img src="img/payform.jpg" alt="payform">
                    </div>
                    <div class="col-12 col-lg-4 text-center">
                        <div class="benefits-block__item m-5">
                            <div class="d-flex justify-content-center align-items-center">
                                <img class="benefits-block__item__img" src="img/quality.png" alt="item">
                                <h5>Гарантия</h5>
                            </div>
                            <div class="d-flex justify-content-center">
                                <p class="benefits-block__item-text mt-3 text-center">virtcards гарантирует высокое качество предоставления услуг</p>
                            </div>
                        </div>
                        <div class="benefits-block__item m-5">
                            <div class="d-flex justify-content-center align-items-center">
                                <img class="benefits-block__item__img" src="img/light-bulb.png" alt="item">
                                <h5>Удобство</h5>
                            </div>
                            <div class="d-flex justify-content-center">
                                <p class="benefits-block__item-text mt-3 text-center">Удобство отслеживания статусов обработки выплат и формирования отчетности</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="feedback-block mt-5 mb-5">
    <div class="container">
        <div class="row">
            <h3 class="feedback-block__header text-center mt-3">Остались вопросы?</h3>
            <h5 class="mt-3 text-center">Оставьте заявку ниже и мы с вами обязательно свяжемся!</h5>
            <div class="container mt-3 mb-5">
                <div class="row">
                    <form method="post">
                        <div class="form-group">
                            <label for="name">Ваше имя:</label>
                            <input type="name" name="name" class="form-control" id="name" placeholder="Имя">
                        </div>
                        <div class="form-group mt-3">
                            <label for="email1">E-mail:</label>
                            <input type="email" name="email" class="form-control" id="email1" placeholder="Email">
                        </div>
                        <div class="form-group mt-3">
                            <label for="phone">Номер телефона:</label>
                            <input type="phone" name="phone" class="form-control" id="phone" placeholder="Телефон">
                        </div>
                        <div class="form-group mt-3">
                            <label for="message">Сообщение:</label>
                            <textarea class="form-control" name="message" rows="5"></textarea>
                        </div>
                        <button type="submit" class="btn btn-success mt-3">Отправить сообщение</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <script src="~/scripts/Home.js" asp-append-version="true"></script>
    <script src="~/scripts/runtime~Home.js" asp-append-version="true"></script>
} 