@{
    ViewData["Title"] = "Главная";
}

@section Css {
    <link href="~/css/maincontent.css" rel="stylesheet" asp-append-version="true" />
}

<section class="presentable-block">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <h1 class="presentable-block__header">virtcards - лучшее решение для подарка на любой случай жизни</h1>
                <div class="presentable-block__button">
                    <div class="row justify-content-center">
                        <a href="#" class="btn">Подарочные карты</a>
                    </div>
                    <div class="row justify-content-center">
                        <a href="#" class="btn">Зарплатные карты</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="aboutservice-block">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3>Что такое virtcards</h3>
            </div>
            <div class="about-service mt-3 row">
                <div class="col-12 col-lg-6 align-items-center d-flex">
                    <div>
                        <p class="p-3">
                            <a class="about-service__address" asp-controller="Home" asp-action="Index">virtcards</a> –
                            это сервис, который представляет из себя
                            интернет-магазин электронных <a class="about-service__address" href="#">подарочных карт</a>, которые можно подарить своим
                            родным и близким на дни рождения, свадьбы, Новый год, 23 февраля, 8 марта,
                            выпускные дни, 1 сентября, а также на любые важные даты и просто так 😊
                        </p>
                        <p class="p-3">
                            По мимо прочего, <a class="about-service__address" asp-controller="Home" asp-action="Index">virtcards</a>
                            предоставляет <a class="about-service__address" href="#">зарплатные карты</a> юридическим лицам для сотрудников, которые они могут использовать по своему усмотрению
                        </p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 align-items-center d-flex about-service__img-block">
                    <img class="w-100" src="img/karta_eldorado_biznes25.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="howjob-block">
    <div class="container">
        <div class="row">
            <h3 class="col-12 text-center">Как работает virtcards</h3>
            <div class="about-service mt-5 row">
                <div class="col-lg col-12">
                    <div class="item-work">
                        <div class="row">
                            <div class="col-4 col-lg-12 d-flex align-items-center justify-content-center">
                                <div>
                                    <div class="item-work__number d-flex align-items-center justify-content-center">
                                        <span>1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 col-lg-12 text-center">
                                <h5 class="mt-0 mt-lg-3 item-work__title">Выбор заказа</h5>
                                <p class="p-1">Вы выбираете и формируете товары, которые Вам необходимы</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg col-12 mt-3 mt-lg-0">
                    <div class="item-work">
                        <div class="row">
                            <div class="col-4 col-lg-12 d-flex align-items-center justify-content-center">
                                <div>
                                    <div class="item-work__number d-flex align-items-center justify-content-center">
                                        <span>2</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 col-lg-12 text-center">
                                <h5 class="mt-0 mt-lg-3 item-work__title">Оформление</h5>
                                <p class="p-1">
                                    Оформление заказа происходит после регистрации на сайте virtcards и
                                    заполнения контактных данных, куда будут доставлены выбранные товары
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg col-12 mt-3 mt-lg-0">
                    <div class="item-work">
                        <div class="row">
                            <div class="col-4 col-lg-12 d-flex align-items-center justify-content-center">
                                <div>
                                    <div class="item-work__number d-flex align-items-center justify-content-center">
                                        <span>3</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 col-lg-12 text-center">
                                <h5 class="mt-0 mt-lg-3 item-work__title">Оплата</h5>
                                <p class="p-1">Оплачивайте банковскими картами и удобными для Вас способами</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg col-12 mt-3 mt-lg-0">
                    <div class="item-work">
                        <div class="row">
                            <div class="col-4 col-lg-12 d-flex align-items-center justify-content-center">
                                <div>
                                    <div class="item-work__number d-flex align-items-center justify-content-center">
                                        <span>4</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 col-lg-12 text-center">
                                <h5 class="mt-0 mt-lg-3 item-work__title">Получение</h5>
                                <p class="p-1">Получение данных электронной карты происходит на email адрес, который Вы указали, а также они будут доступны в личном кабинете</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg col-12 mt-3 mt-lg-0">
                    <div class="item-work">
                        <div class="row">
                            <div class="col-4 col-lg-12 d-flex align-items-center justify-content-center">
                                <div>
                                    <div class="item-work__number d-flex align-items-center justify-content-center">
                                        <span>5</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 col-lg-12 text-center">
                                <h5 class="mt-0 mt-lg-3 item-work__title">Использование</h5>
                                <p class="p-1">Использование электронных карт доступно через сервисы наших партнеров после прохождения верификации</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="howuse-block">
    <div class="container">
        <div class="row mt-3">
            <h3 class="col-12 text-center">Где можно использовать электронные карты virtcards</h3>
            <div class="container">
                <div class="row mt-5 text-center">
                    <div class="col howuse-block__item">
                        <div class="howuse-block__item-image">
                            <img src="img/bank_item.png" alt="item">
                        </div>
                        <p class="mt-3">Обналичить денежные средства у наших партнеров</p>
                    </div>
                    <div class="col">
                        <div class="howuse-block__item-image">
                            <img src="img/uslug_item.png" alt="item">
                        </div>
                        <p class="mt-3">Потратить на товары и услуги через партнерские сервисы</p>
                    </div>
                    <div class="col">
                        <div class="howuse-block__item-image">
                            <img src="img/payment_item.png" alt="item">
                        </div>
                        <p class="mt-3">Безопасно расплачиваться в сети интернет</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="benefits-block mt-5 mb-5">
    <div class="container">
        <div class="row">
            <h3 class="benefits-block__header text-center col-12 text-center">Наши преимущества</h3>
            <div class="container mt-3">
                <div class="row">
                    <div class="col-12 col-lg-4 text-center">
                        <div class="benefits-block__item m-5">
                            <div class="d-flex justify-content-center align-items-center">
                                <img class="benefits-block__item__img" src="img/speed.png" alt="item">
                                <h5>Быстрота</h5>
                            </div>
                            <div class="d-flex justify-content-center">
                                <p class="benefits-block__item-text mt-3">Моментальная доставка осуществляется адресату на email и SMS</p>
                            </div>
                        </div>
                        <div class="benefits-block__item m-5">
                            <div class="d-flex justify-content-center align-items-center">
                                <img class="benefits-block__item__img" src="img/easy.png" alt="item">
                                <h5>Простота</h5>
                            </div>
                            <div class="d-flex justify-content-center">
                                <p class="benefits-block__item-text mt-3 text-center">Удобство и легкое использование электронных платежных/зарплатных карт</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 benefits-block__img-block">
                        <img src="img/payform.jpg" alt="payform">
                    </div>
                    <div class="col-12 col-lg-4 text-center">
                        <div class="benefits-block__item m-5">
                            <div class="d-flex justify-content-center align-items-center">
                                <img class="benefits-block__item__img" src="img/quality.png" alt="item">
                                <h5>Гарантия</h5>
                            </div>
                            <div class="d-flex justify-content-center">
                                <p class="benefits-block__item-text mt-3 text-center">Отличное качество предоставления услуг и наилучший результат сервиса virtcards</p>
                            </div>
                        </div>
                        <div class="benefits-block__item m-5">
                            <div class="d-flex justify-content-center align-items-center">
                                <img class="benefits-block__item__img" src="img/light-bulb.png" alt="item">
                                <h5>Удобство</h5>
                            </div>
                            <div class="d-flex justify-content-center">
                                <p class="benefits-block__item-text mt-3 text-center">Лучшее решение в качестве подарка и не только на любой случай жизни</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

